.content-criarconta{
    margin: 30px auto 20px auto;
    padding: 30px 15px;
    border: 1px solid #ccc;
    h1{
        font-weight: 300;
    }
    .form{
         margin-top:40px;
        // margin-bottom:20px;
    }
}