.content-index{
    margin: 80px auto 0px auto;
    text-align: center;
    h1{
        font-weight: 300;
    }
    .links{
        margin-top:40px;
        margin-bottom:20px;
        a{
          margin-top:40px;
          margin-bottom:20px;  
        }
    }
}