.mrg-t-lg {
	margin-top: 20px;
}
.txt-center{
    text-align: center;
}
.red{
    color: red;
}
.green{
    color: green;
}
.content{
    margin: 80px auto 20px auto;
}
footer{
    margin-top:120px;
}
@import "index";
@import "ativacao";